<!DOCTYPE html>
<html>
<head>
<title>La bibliothèque Grig.-Joseph II</title> 



  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <nav>
    <div class="nav-item"></div><a href="/codex/">All my existing hardcover & softcover books</a>
	</div>
	<div class="nav-item"></div><a href="/kindle">All my ebooks on the kindle platform</a>
	</div>
    <div class="nav-item"></div><a href="/codex/new">Add a new artist</a>
	</div>
    <div class="nav-item"></div><a href="/kindle/new">Add a new favorite song</a>
	</div>
  </nav>